.divGeral{
    display: flex;
    flex-direction: column;
    width: 95dvw;
    margin: 40px auto 50px auto;
    gap: 20px;
}

.divGeralInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divGeralUserPets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.divGeralUserPetsGeral{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;

    background:
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(
      135deg,
      #fff3d4,
      #d6a559,
      #8f6b29
    ) border-box;
}

.divGeralUserPetsGeralTitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divGeralUserPetsGeralTituloTexts{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}

.divGeralUserPetsGeralTituloTexts h1{
    font-weight: 400;
    font-size: 1.75rem;
    color: white;
}

.divGeralUserPetsGeralTituloTexts p{
    color: rgb(174, 174, 174);
    font-size: 0.9rem;
}

.divGeralRelatorios{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;

    background:
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(
      135deg,
      #fff3d4,
      #d6a559,
      #8f6b29
    ) border-box;
}

.divGeralRelatoriosTexto{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    gap: 10px;
}

.divGeralRelatoriosTexto h1{
    font-weight: 400;
    font-size: 1.5rem;
}

.divGeralRelatoriosTexto p{
    opacity: 0.8;
    font-size: 1rem;
}

.divGeralRelatoriosCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 10px;
    gap: 20px;
}

.divGeralRelatoriosCards::-webkit-scrollbar {
  height: 5px;
}

.divGeralRelatoriosCards::-webkit-scrollbar-track {
  background: #151515;
  border-radius: 10px;
}

.divGeralRelatoriosCards::-webkit-scrollbar-thumb {
  background: #997237;
  border-radius: 10px;
}

.divGeralRelatoriosCards::-webkit-scrollbar-thumb:hover {
  background: #5a4319;
}

.popUpEditar{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    z-index: 1100;
    width: 30dvw;
    height: 40dvh;
    top: 30%;
    left: 35%;
    padding: 20px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    
    background:
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(
      135deg,
      #675529,
      #d6a559,
      #8f6b29
    ) border-box;
}

.popUpEditar h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.popUpEditar p{
    font-size: 1.5rem;
    font-weight: 400;
}

.popUpEditarDivBotoes{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 100%;
}